<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <footer>
        <div class="container"></div>
        <h1>ABOUT US</h1>
        <p>Our nation is built on the strength of our citizens. Every day, we encounter situations calling upon us to be the eyes and ears of law enforcement. Not only does neighborhood watch allow citizens to help in the fight against crime, it is also an opportunity for communities to bond through service. The Neighborhood Watch Program draws upon the compassion of average citizens, asking them to lend their neighbors a hand. The National Neighborhood Watch Program (formerly USAonWatch) is the portal for training to assist law enforcement agencies and their communities, technical assistance, resource documents, watch stories, networking, and assistance to the field.</p>
    </footer>
</body>
</html>