{%extends 'base.html'%}
{% load bootstrap4 %}
{% load static%}

{% block content %}
<div  class="container">
    {% if business%}
    <h2>Found for
        {{business | length}}
        results searched term
        {{message}}</h2>
    <div class="row">
        <div class="col-md-4">
            {%for business_item in business%}
            <div class="card" id="profile" >
                <div  class="card-header">
                    <h3>{{business_item.neighbourhood.name}}</h3>
                </div>
                <div  class="card-body">
                    <img src="{{business_item.image.url}}" alt="" height="250px" width="310px">
                </div>
                <div class="card-footer">
                    <p>Business name:
                        {{business_item.name}}</p>
                    <p>Tel no.:
                        {{business_item.phone_number}}</p>
                </div>
            </div>

            {%endfor%}
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
    </div>

    <hr>
    <div class="contain col-sm-6 user"></div>
    {% else %}
    <h2  id="profile">
        <img src="https://directory.uark.edu/Content/warning-icon.png" alt="" height="300px" >
        search results not found
    </h2>
    {% endif %}
</div>
{% endblock %}